/.vs/TapcatAPI/DesignTimeBuild/.dtbcache.v2
/.vs/TapcatAPI/v17/.futdcache.v2
/.idea/.idea.TapcatAPI/.idea/.gitignore
/TapcatAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/.vs/TapcatAPI/v17/.suo
/.vs/TapcatAPI/FileContentIndex/79c8312f-d9eb-4403-9492-aef33c4c5eed.vsidx
/.vs/TapcatAPI/FileContentIndex/162a3b17-9062-4319-ba01-8dd61e6c5277.vsidx
/.vs/TapcatAPI/FileContentIndex/028191d8-fd14-45ba-96bd-4a4eb80dd602.vsidx
/.vs/TapcatAPI/FileContentIndex/a7d5ef18-9649-49c6-b267-12afdc1f34c2.vsidx
/TapcatAPI/obj/Debug/net8.0/apphost.exe
/TapcatAPI/bin/Debug/net8.0/appsettings.Development.json
/TapcatAPI/bin/Debug/net8.0/appsettings.json
/TapcatAPI/bin/Debug/net8.0/AutoMapper.dll
/.idea/.idea.TapcatAPI/.idea/discord.xml
/.vs/TapcatAPI/v17/DocumentLayout.backup.json
/.vs/TapcatAPI/v17/DocumentLayout.json
/.vs/TapcatAPI/FileContentIndex/f05be27b-398c-4538-9a5a-6b3d60693ce6.vsidx
/TapcatAPI/bin/Debug/net8.0/Humanizer.dll
/.idea/.idea.TapcatAPI/.idea/indexLayout.xml
/TapcatAPI/bin/Debug/net8.0/Microsoft.AspNetCore.JsonPatch.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Build.Locator.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/TapcatAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/TapcatAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/TapcatAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/TapcatAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/TapcatAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/TapcatAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/TapcatAPI/bin/Debug/net8.0/Mono.TextTemplating.dll
/TapcatAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.TapcatAPI.props
/TapcatAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TapcatAPI.props
/TapcatAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TapcatAPI.props
/TapcatAPI/bin/Debug/net8.0/Newtonsoft.Json.dll
/TapcatAPI/bin/Debug/net8.0/Npgsql.dll
/TapcatAPI/bin/Debug/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/TapcatAPI/obj/project.assets.json
/TapcatAPI/obj/project.nuget.cache
/TapcatAPI/obj/project.packagespec.json
/TapcatAPI/obj/rider.project.model.nuget.info
/TapcatAPI/obj/rider.project.restore.info
/TapcatAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/TapcatAPI/obj/Debug/net8.0/staticwebassets.build.json
/TapcatAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/TapcatAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/TapcatAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/TapcatAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/TapcatAPI/bin/Debug/net8.0/System.CodeDom.dll
/TapcatAPI/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/TapcatAPI/bin/Debug/net8.0/System.Composition.Convention.dll
/TapcatAPI/bin/Debug/net8.0/System.Composition.Hosting.dll
/TapcatAPI/bin/Debug/net8.0/System.Composition.Runtime.dll
/TapcatAPI/bin/Debug/net8.0/System.Composition.TypedParts.dll
/TapcatAPI/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
/TapcatAPI/bin/Debug/net8.0/System.IO.Pipelines.dll
/TapcatAPI/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/TapcatAPI/bin/Debug/net8.0/System.Text.Encodings.Web.dll
/TapcatAPI/bin/Debug/net8.0/System.Text.Json.dll
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.AssemblyInfo.cs
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.AssemblyInfoInputs.cache
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.assets.cache
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.csproj.AssemblyReference.cache
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.csproj.CoreCompileInputs.cache
/TapcatAPI/obj/TapcatAPI.csproj.EntityFrameworkCore.targets
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.csproj.FileListAbsolute.txt
/TapcatAPI/obj/TapcatAPI.csproj.nuget.dgspec.json
/TapcatAPI/obj/TapcatAPI.csproj.nuget.g.props
/TapcatAPI/obj/TapcatAPI.csproj.nuget.g.targets
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.csproj.Up2Date
/TapcatAPI/bin/Debug/net8.0/TapcatAPI.deps.json
/TapcatAPI/bin/Debug/net8.0/TapcatAPI.dll
/TapcatAPI/obj/Debug/net8.0/ref/TapcatAPI.dll
/TapcatAPI/obj/Debug/net8.0/refint/TapcatAPI.dll
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.dll
/TapcatAPI/bin/Debug/net8.0/TapcatAPI.exe
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.GeneratedMSBuildEditorConfig.editorconfig
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.genruntimeconfig.cache
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.GlobalUsings.g.cs
/.vs/ProjectEvaluation/tapcatapi.metadata.v9.bin
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.MvcApplicationPartsAssemblyInfo.cache
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.MvcApplicationPartsAssemblyInfo.cs
/TapcatAPI/bin/Debug/net8.0/TapcatAPI.pdb
/TapcatAPI/obj/Debug/net8.0/TapcatAPI.pdb
/.vs/ProjectEvaluation/tapcatapi.projects.v9.bin
/TapcatAPI/bin/Debug/net8.0/TapcatAPI.runtimeconfig.json
/TapcatAPI/bin/Debug/net8.0/TapcatAPI.staticwebassets.endpoints.json
/.vs/ProjectEvaluation/tapcatapi.strings.v9.bin
/.idea/.idea.TapcatAPI/.idea/vcs.xml
